---
- name: Ensure controller client dependencies are installed
  ansible.builtin.pip:
    requirements: "{{ role_path }}/files/generated/controller/requirements.txt"
- name: Ensure image client dependencies are installed
  ansible.builtin.pip:
    requirements: "{{ role_path }}/files/generated/image/requirements.txt"
- name: Ensure protobuf dependencies are installed
  ansible.builtin.pip:
    name: "{{ python_dependencies }}"

- name: Manage VM via qcontroller
  environment:
    PYTHONPATH: "{{ role_path }}/files/generated/protos:{{ role_path }}/files/generated/controller:{{ role_path }}/files/generated/image"
  qcontroller_vm:
    name: "{{ qcontroller_name }}"
    state: "{{ qcontroller_state | default('present') }}"
    cpus: "{{ qcontroller_cpus | default(2) }}"
    memory: "{{ qcontroller_memory | default(2 * 1024) }}"
    disk: "{{ qcontroller_disk | default(40 * 1024) }}"
    image: "{{ qcontroller_image | default(omit) }}"
    file: "{{ qcontroller_file | default(omit) }}"
    cloud_init:
      userdata: "{{ qcontroller_userdata | default('') }}"
      network_config: "{{ qcontroller_network_config | default('') }}"
    force: "{{ qcontroller_force | default(false) }}"
    timeout: "{{ qcontroller_timeout | default(60) }}"
    qcontroller_host: "{{ qcontroller_host }}"
    qcontroller_port: "{{ qcontroller_port }}"
  register: qcontroller_result

- name: Set VM result as fact
  ansible.builtin.set_fact:
    qcontroller_result: "{{ qcontroller_result.result }}"
