name: Ansible Lint PR Check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Ansible and ansible-lint
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint
      - name: Run ansible-lint
        run: ansible-lint ./qcontroller
